# Python / Entornos
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo

# Packaging / Build
build/
dist/
*.egg-info/
.eggs/

# IDEs / Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# =========================
# Resultados generados (experimentos)
# =========================
outputs/*
!outputs/.gitkeep

# =========================
# Logs
# =========================
logs/
*.log

# Notebooks (por agregar)
.ipynb_checkpoints/
